#calculator {
  height: 35em;
  width: 22em;
  background-color: white;
  color: #303031;
  border-radius: 2px;
  padding: 3vh 3vw 3vh 3vw;
  font-weight: 600;
  font-size: 1.2em;
}

#error-container > .error {
  color: red;
  font-size: 0.9em;
  font-style: italic;
}

.spread {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#calculator input[type="text"],
input[type="number"] {
  font-size: 1em;
  max-width: 5em;
  text-align: center;
  padding: 0.2em;
}

#calculator input[type="submit"] {
  font-size: 1.5em;
  padding: 0.5em;
  background: #303031;
  color: white;
  padding: 0.7em;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.1s ease;
  border: none;
  border-radius: 2px;
}
#calculator input[type="submit"]:hover {
  background: rgb(212, 212, 212);
  color: #303031;
}

#result {
  font-size: 1.4em;
  font-weight: bold;
}

#result .value {
  text-decoration: underline #303031;
}

@media screen and (max-width: 1020px) {
  #calculator {
    height: 70vh;
    width: 55vw;
  }
}
@media screen and (max-width: 726px) {
  #calculator {
    height: 55vh;
    width: 85vw;
  }
}
@media screen and (max-width: 375) {
  #calculator {
    height: 80vh;
  }
}
