#calculator {
  height: 35em;
  width: 22em;
  background-color: white;
  color: #303031;
  border-radius: 2px;
  padding: 3vh 3vw 3vh 3vw;
}

#error-container > .error {
  color: red;
  font-size: 0.9em;
  font-style: italic;
}

.spread {
  display: flex;
  justify-content: space-around;
}
